# Common folders to ignore
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Tt]est[Rr]esult*/

# Common files to ignore
*.user
*.userosscache
*.suo
*.userprefs
*.dll
*.exe
*.pdb
*.cache
*.vsp
*.vspx
*.nupkg
*.snk
*.bak
*.swp
*.tmp

# Build results
[Dd]ebug*/
[Rr]elease*/
x64/
x86/
[Aa]ny[Cc]pu/
[Oo]ut/
[Bb]uild/

# OsX folders and Files
.DS_Store
.AppleDouble
.LSOverride
